:root {
  --max-width: 1100px;
  
  --sec-hue-1: #000000;
  --sec-hue-2: #303030;

  --primary-clr-1: #ffffff;
  --primary-clr-2: #faf8ff;

  --gray-hue-1: #5e5e5e;
  --hray-hue-2: #919191;
  --gray-hue-3: #c6c6c6;

  --accent-clr-1: #a126a0;
  --accent-clr-2: #ac84a8;

  --danger-clr: #ff5b6a;
  
  --nav-height: 60px;

  --gen-border-radius: 10px;
  --font-al: --font-a;

  --gen-padding: 15%;
  --small-padding: 5%;

  --primary-gradient-clr: linear-gradient(180deg, #B4079D 0%, #FFCC70 146.9%);
}

.storyGrandCntn.invite > h1{
  width: 100%;
  padding-inline: var(--gen-padding);
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 8em;
  min-height: 40vh;
  font-weight: 300;
  padding-block: 6vw;
  background: linear-gradient(
    to bottom,
    var(--gray-hue-3),
    var(--gray-hue-3),
    var(--primary-clr-1)
  );

}

.invitePageCntn{
  width: 100%;
  padding-inline: var(--gen-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.invitationCardNote{
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-clr-1);
  border: 1px dashed var(--sec-hue-1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95em;
  font-weight: 400;
  color: var(--sec-hue-1);
}

.invitationCardNote i{
  font-size: 1.4em;
  color: var(--sec-hue-1);
}

.invitationCardNote span{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--sec-hue-1);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;       /* Change this number to how many lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.invitePageCntn > h2{
  font-size: 2em;
  font-weight: 400;
  color: var(--sec-hue-1);
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.invitePageCntn > h2 span{
  font-size: 0.7em;
  font-weight: 400;
  color: var(--gray-hue-1);
  font-weight: 400;
}
.invitePageCntn > h2 b{
  font-size: 0.95em;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .storyGrandCntn.invite > h1{
    font-size: 6em;
    min-height: 30vh;
    font-weight: 300;
    padding-block: 6vw;
  }

  .invitePageCntn > h2 span{
    font-size: 0.5em;
    font-weight: 400;
    color: var(--gray-hue-1);
    font-weight: 400;
  }
  .invitePageCntn > h2 b{
    font-size: 0.75em;
    font-weight: 600;
  }
}



.inviteLinkCntn{
  width: 100%;
  max-width: 500px;
  height: 40px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
  margin-top: 10px;
}

.inviteLinkCntn input{
  height: 100%;
  width: 100%;
  background-color: var(--primary-clr-2);
  border-radius: 5px;
  border: 1px dashed var(--sec-hue-1);
  padding-inline: 10px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;       /* Change this number to how many lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inviteLinkCntn button{
  height: 100%;
  padding-inline: 10px;
  font-size: 0.88em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  background-color: var(--sec-hue-1);
  color: var(--primary-clr-1);
  border-radius: 5px;
  position: relative;
}

.inviteLinkCntn button span{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-size: 1.05em;
  color: var(--sec-hue-1);
  border-radius: 5px;
  border: 1px dashed var(--sec-hue-1);
  padding-inline: 0.7em;
  padding-block: 8px;
  z-index: 20;
  pointer-events: none;

  animation: moveup 0.55s ease-in-out forwards;
}

@keyframes moveup {
  0%{
    transform: translate(-50%, -0%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -120%);
    opacity: 0;
  }
}

.invitationDetails{
  width: 100%;
  max-width: 500px;
  height: 150px;
  max-height: 150px;
  margin-inline: auto;
  margin-top: 2.5em;
  border-radius:  5px;
  border: 1px dashed var(--sec-hue-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invitationDetails .gbesi{
  width: 100%;
  height: 100%;
  min-height: max-content;
  padding-block: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invitationDetails .gbesi:nth-child(2) {
  border-left: 1px dashed var(--sec-hue-1);
}


.gbesi h4{
  font-size: 1.4em;
  font-weight: 400;
  color: var(--sec-hue-1);
}

.gbesi p{
  font-size: 2.4em;
  font-weight: 600;
  color: var(--sec-hue-1);
}


#inviteAdSlot{
  margin-block: 1.5em 0.2em;
}